.wrapper {
  font-family: 'Hind Siliguri', sans-serif; }
  .wrapper .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%; }
    .wrapper .header .header__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      .wrapper .header .header__block .header__block--flex {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 30%; }
        .wrapper .header .header__block .header__block--flex .header__logo {
          width: 44px;
          height: 44px;
          background-color: #5094f2;
          border-radius: 50%;
          position: relative;
          transition: all 2s; }
          .wrapper .header .header__block .header__block--flex .header__logo:hover {
            cursor: pointer;
            transform: scale(0.8);
            transition: all 2s; }
          .wrapper .header .header__block .header__block--flex .header__logo .header__pic {
            position: absolute;
            top: 25%;
            left: 25%; }
        .wrapper .header .header__block .header__block--flex .header__title {
          font-size: 3rem;
          line-height: 5px;
          padding-left: 3.5%; }
      .wrapper .header .header__block .header__block--inner {
        width: 30%; }
        .wrapper .header .header__block .header__block--inner .nav__list {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center; }
          .wrapper .header .header__block .header__block--inner .nav__list .nav__link--active {
            font-size: 1.46rem;
            line-height: 20px -12;
            color: #6c6c6c;
            text-align: start;
            text-decoration: none; }
          .wrapper .header .header__block .header__block--inner .nav__list .nav__link {
            font-size: 1.46rem;
            line-height: 20px -12;
            color: #6c6c6c;
            text-align: start;
            text-decoration: none;
            transition: all 1.5s; }
            .wrapper .header .header__block .header__block--inner .nav__list .nav__link:hover {
              cursor: pointer;
              text-decoration: underline;
              text-underline-offset: 33px;
              color: #5094f2;
              transition: all 1.5s; }
  .wrapper .main .container--primary {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: url(../imgs/background.png);
    background-size: cover; }
    .wrapper .main .container--primary .main__block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      padding-top: 2%;
      padding-left: 0.5%;
      padding-bottom: 1%; }
      .wrapper .main .container--primary .main__block #picture__item {
        transition: all 1.5s; }
        .wrapper .main .container--primary .main__block #picture__item:hover {
          transform: rotateZ(30deg);
          transition: all 1.5s; }
      .wrapper .main .container--primary .main__block .main__block--secondary {
        width: 66%;
        display: flex;
        flex-direction: column; }
        .wrapper .main .container--primary .main__block .main__block--secondary .main__title {
          font-size: 3.2rem;
          line-height: 44px;
          color: #ffffff;
          text-align: start; }
        .wrapper .main .container--primary .main__block .main__block--secondary .main__title--secondary {
          font-size: 1.89rem;
          line-height: 44px;
          color: #ffffff;
          text-align: start; }
        .wrapper .main .container--primary .main__block .main__block--secondary .main__btn {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 180px;
          background-color: #5094f2;
          margin-left: 1%;
          margin-top: 2%;
          transition: all 2s; }
          .wrapper .main .container--primary .main__block .main__block--secondary .main__btn:hover {
            transform: scale(1.1);
            cursor: pointer;
            border: 2px solid black;
            transition: all 2s; }
          .wrapper .main .container--primary .main__block .main__block--secondary .main__btn .btn__title {
            font-size: 1.6rem;
            line-height: 44px;
            color: #ffffff;
            text-align: start;
            margin-left: 1%; }
  .wrapper .main .container--special {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: flex-start;
    margin-top: 3%; }
    .wrapper .main .container--special .block__item {
      width: 80%; }
    .wrapper .main .container--special .block__item--primary,
    .wrapper .main .container--special .block__item--secondary,
    .wrapper .main .container--special .block__item--special {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .wrapper .main .container--special .block__item--primary .circle__primary,
      .wrapper .main .container--special .block__item--secondary .circle__primary,
      .wrapper .main .container--special .block__item--special .circle__primary {
        background-color: #5094f2;
        width: 186px;
        height: 186px;
        border-radius: 50%;
        position: relative;
        transition: all 2s; }
        .wrapper .main .container--special .block__item--primary .circle__primary:hover,
        .wrapper .main .container--special .block__item--secondary .circle__primary:hover,
        .wrapper .main .container--special .block__item--special .circle__primary:hover {
          transform: scale(1.1);
          cursor: pointer;
          box-shadow: 4px 4px 4px #6f7173;
          transition: all 2s; }
        .wrapper .main .container--special .block__item--primary .circle__primary .primary__pic,
        .wrapper .main .container--special .block__item--secondary .circle__primary .primary__pic,
        .wrapper .main .container--special .block__item--special .circle__primary .primary__pic {
          position: absolute;
          top: 20%;
          left: 31%; }
      .wrapper .main .container--special .block__item--primary .special__text,
      .wrapper .main .container--special .block__item--secondary .special__text,
      .wrapper .main .container--special .block__item--special .special__text {
        font-size: 1.45rem;
        line-height: 44px;
        color: #5094f2;
        text-align: start;
        margin-top: 2%;
        transition: all 3s; }
        .wrapper .main .container--special .block__item--primary .special__text:hover,
        .wrapper .main .container--special .block__item--secondary .special__text:hover,
        .wrapper .main .container--special .block__item--special .special__text:hover {
          text-decoration: underline;
          cursor: pointer;
          color: #6f7173;
          transition: all 3s; }
      .wrapper .main .container--special .block__item--primary .special__title,
      .wrapper .main .container--special .block__item--secondary .special__title,
      .wrapper .main .container--special .block__item--special .special__title {
        font-size: 1.1rem;
        line-height: 20px;
        color: #909090;
        text-align: center;
        width: 50%; }
      .wrapper .main .container--special .block__item--primary .circle__secondary,
      .wrapper .main .container--special .block__item--secondary .circle__secondary,
      .wrapper .main .container--special .block__item--special .circle__secondary {
        background-color: #d94748;
        width: 186px;
        height: 186px;
        border-radius: 50%;
        position: relative;
        transition: all 2s; }
        .wrapper .main .container--special .block__item--primary .circle__secondary:hover,
        .wrapper .main .container--special .block__item--secondary .circle__secondary:hover,
        .wrapper .main .container--special .block__item--special .circle__secondary:hover {
          transform: scale(1.1);
          cursor: pointer;
          box-shadow: 4px 4px 4px #6f7173;
          transition: all 2s; }
        .wrapper .main .container--special .block__item--primary .circle__secondary .primary__pic--secondary,
        .wrapper .main .container--special .block__item--secondary .circle__secondary .primary__pic--secondary,
        .wrapper .main .container--special .block__item--special .circle__secondary .primary__pic--secondary {
          position: absolute;
          top: 27%;
          left: 25%; }
      .wrapper .main .container--special .block__item--primary .circle__special,
      .wrapper .main .container--special .block__item--secondary .circle__special,
      .wrapper .main .container--special .block__item--special .circle__special {
        background-color: #ebbb11;
        width: 186px;
        height: 186px;
        border-radius: 50%;
        position: relative;
        transition: all 2s; }
        .wrapper .main .container--special .block__item--primary .circle__special:hover,
        .wrapper .main .container--special .block__item--secondary .circle__special:hover,
        .wrapper .main .container--special .block__item--special .circle__special:hover {
          transform: scale(1.1);
          cursor: pointer;
          box-shadow: 4px 4px 4px #6f7173;
          transition: all 2s; }
        .wrapper .main .container--special .block__item--primary .circle__special .primary__pic--third,
        .wrapper .main .container--special .block__item--secondary .circle__special .primary__pic--third,
        .wrapper .main .container--special .block__item--special .circle__special .primary__pic--third {
          position: absolute;
          top: 25%;
          left: 25%; }
  .wrapper .main .container--additional {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 3%; }
    .wrapper .main .container--additional .block__item--additional {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 80%; }
      .wrapper .main .container--additional .block__item--additional .additional__title {
        font-size: 3.03rem;
        line-height: 44px;
        color: #6f7173;
        text-align: center;
        transition: all 4s; }
        .wrapper .main .container--additional .block__item--additional .additional__title:hover {
          transform: scale(0.5);
          cursor: pointer;
          transition: all 4s; }
        .wrapper .main .container--additional .block__item--additional .additional__title #text {
          display: block;
          margin-bottom: 11%; }
      .wrapper .main .container--additional .block__item--additional .additional__side {
        font-size: 1.89rem;
        line-height: 44px;
        color: #6f7173;
        text-align: left;
        width: 40%; }
        .wrapper .main .container--additional .block__item--additional .additional__side .additional__text,
        .wrapper .main .container--additional .block__item--additional .additional__side .footer__title {
          font-size: 1.1rem;
          line-height: 36px;
          color: #909090;
          text-align: left;
          padding-top: 2%; }
  .wrapper .footer {
    border-top: 1px solid #909090;
    margin-top: 2%; }
    .wrapper .footer .footer__item {
      text-align: center;
      padding: 2.5%;
      color: #909090; }

/*# sourceMappingURL=style.css.map */
