@import "mixin";

$mainColor: #5094f2;
$primaryColor: #d94748;
$secondaryColor: #ebbb11;
$textColor: #909090;
$titleColor: #6c6c6c;
$nameColor: #6f7173;
$blockColor: #ffffff;
$size: 1%;
$sizeFigure: 20px;
$mainSize: 1rem;

.wrapper {
    font-family: 'Hind Siliguri', sans-serif;

    .header {
        @include setPosition (flex, row, center, center);
        padding: $size;
        
        .header_block {
                @include setPosition (flex, row, space-between, center);
                width: $size + 79;
                
                .header_block--flex {
                    @include setPosition (flex, row, flex-start, center);
                    width: $size + 29;
                    
                    .header_logo {
                        width: $sizeFigure + 24;
                        height: $sizeFigure + 24;
                        background-color: $mainColor;
                        border-radius: $size + 49;
                        position: relative;

                        .header_pic {
                            position: absolute;
                            top: $size +24;
                            left: $size +24;
                        }
                    }

                    .header_title {
                        font-size: $mainSize + 2;
                        line-height: $sizeFigure - 15;
                        padding-left: $size + 2.5;
                    }
                }

                .block--flex {
                    width: $size + 29;

                    .nav_list {
                        @include setPosition (flex, row, space-between, center);
                    }

                        .nav_link {
                            @include decorateTitle ($mainSize + 0.46, $sizeFigure -12, $titleColor, start);
                            text-decoration: none;
                            transition: all 2s;

                            &:hover {
                                text-decoration: underline;
                                cursor: pointer;
                                color: $mainColor;
                                transition: all 2s;
                            }
                        }
                }
            }
    }

    .main {

        .container--primary {
            @include setPosition (flex, row, center, center);
            background: url(../imgs/background.png);
            background-size: cover;
            
            .block_flex--primary {
                @include setPosition (flex, row, space-between, center);
                width: $size + 79;
                padding-top: $size +1;
                padding-left: $size /2;
                padding-bottom: $size;

                    #picture__item {
                        transition: all 1.5s;
                        
                        &:hover {
                            transform: rotateZ(30deg);
                            transition: all 1.5s;
                        }
                    }
                
                .block_secondary {
                    width: $size +65;

                    .main_title {
                        @include decorateTitle ($mainSize + 2.2, $sizeFigure +24, $blockColor, start);
                    }

                    .title {
                        @include decorateTitle ($mainSize + 0.89, $sizeFigure +24, $blockColor, start);
                    }

                    .btn {
                        @include setPosition (flex, row, center, center);
                        width: $sizeFigure +160;
                        background-color: $mainColor;
                        margin-left: $size;
                        margin-top: $size +1;
                        transition: all 2s;

                        &:hover {
                            transform: scale(1.1);
                            cursor: pointer;
                            border: 2px solid black;
                            transition: all 2s;
                        }

                        .btn_title {
                            @include decorateTitle ($mainSize + 0.6, $sizeFigure +24, $blockColor, start);
                            margin-left: $size;
                        }
                    }
                }
            }
        }

        .container--special {
            @include setPosition (flex, row, baseline, flex-start);
            margin-top: $size +2;
            
            .block_item {
                width: $size +79;
            }

            .block_item--primary,
            .block_item--secondary,
            .block_item--special {
                @include setPosition (flex, column, center, center);

                .circle_primary {
                    @include createPic ($mainColor, $sizeFigure +166, $sizeFigure +166, $size +49, relative);
                    transition: all 2s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                        box-shadow: 4px 4px 4px $nameColor;
                        transition: all 2s;
                    }

                    .primary_pic {
                        @include positionIcon (absolute, $size +19, $size +30); 
                    }
                }

                .special_name {
                    @include decorateTitle ($mainSize + 0.45, $sizeFigure +24, $mainColor, start);
                    margin-top: $size +1;
                    transition: all 3s;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                        color: $nameColor;
                        transition: all 3s;
                    }
                }

                .special_title {
                    @include decorateTitle ($mainSize + 0.1, $sizeFigure, $textColor, center);
                    width: $size *50;
                }

                .circle_secondary {
                    @include createPic ($primaryColor, $sizeFigure +166, $sizeFigure +166, $size +49, relative);
                    transition: all 2s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                        box-shadow: 4px 4px 4px $nameColor;
                        transition: all 2s;
                    }

                    .primary_pic--secondary {
                        @include positionIcon (absolute, $size +26, $size +24);
                    }
                }

                .circle_special {
                    @include createPic ($secondaryColor, $sizeFigure +166, $sizeFigure +166, $size +49, relative);
                    transition: all 2s;

                    &:hover {
                        transform: scale(1.1);
                        cursor: pointer;
                        box-shadow: 4px 4px 4px $nameColor;
                        transition: all 2s;
                    }

                    .primary_pic--third {
                        @include positionIcon (absolute, $size +24, $size +24);
                    }
                }
            }
        }

        .container--additional {
            @include setPosition (flex, row, center, center);
            margin-top: $size +2;
            
            .block_item--additional {
                @include setPosition (flex, row, space-between, center);
                width: $size +79;

                .additional_title {
                    @include decorateTitle ($mainSize +2.03, $sizeFigure +24, $nameColor, center);
                    transition: all 4s;
                    
                    &:hover {
                        transform: scale(0.5);
                        cursor: pointer;
                        transition: all 4s;
                    }

                    #text {
                        display: block;
                        margin-bottom: $size * 11;
                    }
                }

                .additional_side {
                    @include decorateTitle ($mainSize +0.89, $sizeFigure +24, $nameColor, left);
                    width: 40%;

                    .additional_text,
                    .footer_title {
                        @include decorateTitle ($mainSize +0.1, $sizeFigure +16, $textColor, left);
                        padding-top: $size +1;
                    }
                }
            }
        }
    }

    .footer {
        border-top: 1px solid $textColor;
        margin-top: $size +1;
        
        .footer_item {
            text-align: center;
            padding: $size +1.5;
            color: $textColor;
        }
    }           
}